* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Rubik Doodle Shadow";
  text-align: center;
}

p {
  font-size: 2em;
  font-family: "Handlee", cursive;
  text-align: center;
}

li,
td {
  font-family: "Handlee", cursive;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.pageBackground {
  min-height: 90vh;
  background-color: #2a9d8f;
  color: white;
  padding: 20px;
}

.bannerImage {
  display: flex;
  margin: auto;
  width: 30%;
  border-radius: 50px;
  padding: 20px;
}

.AandE {
  display: flex;
  width: 50%;
  margin: auto;
}

.driving-me {
  font-size: 2em;
  text-align: center;
}

/* Table settings */

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 5px solid #264653;
  font-size: 2em;
}

th {
  background-color: #264653;
  text-align: left;
  padding: 8px;
}

td {
  padding: 8px;
  vertical-align: top;
  border: 2px solid #264653 !important;
}

td ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

td li {
  padding-bottom: 4px;
}

/*  Footer Component */

.footer {
  width: 100%;
  background-color: #264653;
  color: white;
  font-size: 2rem !important;
  text-align: center;
  padding: 10px;
  font-family: "Handlee", cursive;
  margin: 0;
}

/* Header */

.navbar {
  width: 100%;
  font-size: 3rem;
  justify-content: space-between;
  margin: 0;
  background-color: #264653;
}

.navIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.navbarIcons {
  font-size: 2rem !important;
  color: #2a9d8f !important;
  padding: 10px;
}

.navbarIcons:hover {
  font-size: 2rem !important;
  color: #e76f51 !important;
  padding: 10px;
}

.navbarBrand,
.navLink {
  color: white !important;
  font-family: "Rubik Doodle Shadow";
}

.navbarBrand {
  font-size: 3em !important;
  color: white !important;
}

.navLink:hover,
#basic-nav-dropdown:hover {
  background-color: #264653;
  color: #2a9d8f !important;
  border-radius: 20px;
  width: auto;
}

#basic-nav-dropdown {
  color: white;
  font-family: "Rubik Doodle Shadow";
}

.dropdown-menu {
  color: white;
  font-family: "Handlee";
}
/* Blog Page Styles */

/* .blogCard {
  width: 30%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.fade {
opacity: 1;
}

.custom-modal-dialog {
min-width:80% !important;

}

.modalImages {
  width: 40%;
  display: flex;
  margin: auto;
}

/* Page not found */

.AWOLpageBackground {
  min-height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the children horizontally */
  justify-content: center; /* This centers the children vertically */
}

.AWOLimage {
  width: 30%;
}

.pageNotFound {
  text-align: center; /* This ensures text within this div is centered */
  color: #e76f51;
}

.AWOLlink {
  margin-top: 20px; /* Gives some space above the link */
}

.AWOLlink a {
  color: #e76f51;
  text-decoration: none;
  font-size: 2em;
  font-weight: 900;
}

/* Login */

.logo-login {
  display: flex;
  width: 10%;
  background-color: #2a9d8f;
  border-radius: 100%;
  margin: auto;
}

.logoutBtn {
  margin: auto;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #e76f51 !important;
  border: #e76f51 !important;
  font-family: "Rubik Doodle Shadow" !important;
  font-size: 2em !important;
}
